
/*
.header-container {
  display: flex;
  align-items: flex-start;
  margin-top: 150px; 
  padding-left: 50px; 
}
  */

.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0;
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
}

.header-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    pointer-events: none; 
}

.home-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2px;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
}

.home-top-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;  /* To prevent the image from stretching */
}

.home-top-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.home-top-subtitle {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.who-we-are {
  color: #c154ae;
  padding-bottom: 15px;
}

.Doctor-image {
  width: 350px;
  height: auto;
  object-fit: cover;
  margin-right: 40px; 
}

.mission-statement {
  margin-top: 50px; 
  max-width: 500px; 
}

.mission-statement h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: typing 3s steps(30, end); 
  color: #3DA9FC;
}

.mission-statement p {
  font-size: 1em;
  line-height: 1.6;
  opacity: 0;
  animation: flowIn 2s ease-out forwards; 
  animation-delay: 0.5s; 
}

@keyframes flowIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-content {
  margin: 120px 50px; 
  max-width: 1000px;
  text-align: center; 
}

.header-content h1 {
  font-size: 1.5em;
  margin-bottom: 50px;
  color: #151617;
}

.header-content p {
  max-width: 500px;
  color: #8d928e;
  margin-top: 10px;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
}

.header-list {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.header-list li {
  margin: 16px 0; 
}

.header-list li .item-name {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #3DA9FC;
}

.header-list li .item-name svg {
  border: 2px solid #3DA9FC;
  padding: 8px;
  border-radius: 4px;
  margin-right: 10px;
  color: #3DA9FC;
  font-size: 2.2em;
}

.header-list li p {
  margin: 5px 30px 0 20px; 
  font-size: 0.7rem;
  color: #8d928e;
  line-height: 1.5;
}

.image-container {
  position: relative;
  width: 350px;
  height: 350px;
}

.Doc-Green-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 30px; 
  border-radius: 15px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 8.8%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
  opacity: 1; 
}

.learn-more-btn {
  padding: 10px 20px;
  background-color: #3DA9FC;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.3s ease;
  bottom: 10px;
  right: 10px;
  position: absolute;
  z-index: 2;
}

.image-container:hover .learn-more-btn {
  opacity: 1; 
}

.typing-effect {
  display: inline-block;
  animation: typing 0.1s steps(30, end); 
  color: #ffffff;
}

.typing-effect-line-2 {
  display: inline-block;
  opacity: 0;
  animation: typing 0.1s steps(30, end) 0.1s forwards; 
  color: #ffffff;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1; 
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

