
.profiles {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    padding-top: 20vh; 
    height: 100vh;
  }
  
  .title {
    font-size: 2rem;
    color: var(--dark);
    text-align: center;
  }


