.support-card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
  }
  
  .support-card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: grey;
    border-radius: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .support-card:hover {
    transform: scale(1.1);
  }
  
  /* Different colors for each card */
  .card-1:hover {
    background-color: green;
  }
  
  .card-2:hover {
    background-color: #FF7300;
  }
  
  .card-3:hover {
    background-color: blue;
  }
  
  .card-4:hover {
    background-color: yellow;
  }
  