

.support-section {
  text-align: center;
  margin-bottom: 30px;
}

.support-header h2 {
  font-size: 30px;
  color: #000000;
  margin: 0;
  text-align: left;
  padding-left: 110px;
}

.support-header h2:nth-child(2) {
  margin-top: 10px;
}

.support-card-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.support-card {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: #244459;
  border-radius: 10px;
  transition: all 0.3s ease;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}

.support-card:hover {
  transform: scale(1.1);
  background-color: rgba(125, 120, 120, 0.2);
  border: 2px solid #ffffff;
}

.card-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: #BC8F8F;
}

.card-title {
  position: absolute;
  font-size: 15px;
  bottom: 10px;
  left: 10px;
}

.card-number {
  position: absolute;
  font-size: 15px;
  bottom: 30px;
  left: 10px;
  color: #ffffff;
}


.image {
  position: relative;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: block;
}

.black-overlay {
  position: absolute;
  top: 50%; 
  right: 0;
  margin-right: 100px; 
  transform: translateY(-50%); 
  width: 40%; 
  height: 60%; 
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 10px; 
}

.overlay-text {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.overlay-paragraph {
  font-size: 15px;
  color: #ffffff;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  text-align: left;
  position: relative;
}

.layer-button {
  background-color: #244459;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 290px;
  text-align: left;
  display: inline-block;
  text-decoration: none;
  align-items: center;
}

.layer-button:hover {
  background-color: #3DA9FC;
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}




