
.card {
    width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, border 0.3s ease;
    border: 2px solid transparent;
}

.card:hover {
    transform: scale(1.05);
    border-color: #3DA9FC;
}

.card-header {
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-image-container {
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border-radius: 50%;
    overflow: hidden;
}

.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.user-details {
    margin-bottom: 10px;
}

.user-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #3DA9FC;
}

.user-role {
    font-weight: 600;
    color: #374151;
}

.user-description {
    color: #6b7280;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.facebook-icon {
    background-color: #ffffff;
}

.whatsApp-icon {
    background-color: #ffffff;
}

.linkedin-icon {
    background-color: #ffffff;
}

.contact-button-container {
    display: flex;
    justify-content: center;
}

.contact-button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 9999px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.875rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-button:hover {
    background-color: #3DA9FC;
    color: #ffffff;
}

.contact-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}


/*
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
}
*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
    max-width: 960px;
    margin: -1px auto 0 auto; /* Negative top margin to move cards closer to the title */
}




@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}






