@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');


.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    padding: 1px ;
    transition: 0.5s;
    border-radius: 25px;

    background {
        background-color: rgba(173, 216, 230, 0.6); /* Light blue with 60% opacity */
    }
    
}

.logo {
    width: 100px;
    cursor: pointer;
    border-radius: 25px;
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 5px 10px;
    font-size: 9px;
    cursor: pointer;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background: #2C3E50;
    padding: 10px 20px;
}

.search-box {
    padding: 6px;
    background: transparent;
    border: 0; /* No border */
    outline: none; /* Remove outline */
    color: #ffffff;
    font-size: 12px;
    width: 50px; /* Initial width */
    transition: width 0.3s ease; /* Smooth transition on width */
    background: #2C3E50;
}

.search-box:focus {
    width: 300px; /* Expand width on focus */
    outline: none;
}

.search-box::placeholder {
    color: rgb(0, 0, 0);
}

.search-container img {
    width: 20px;
    cursor: pointer;
}





.dark .navbar {
    background: #000000;
    color: #fff;
}

.head_background_image {
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-left: 5px;
    margin-right: 5px;
}

.dark .search-box input::placeholder {
    color: #222;
}

