

.header-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0 0;
  padding: 20px 0 0;
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
}

.journal-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0;
}

.header-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none; 
}

.journal-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.journal-subheader {
  position: absolute;
  top: 60%;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: normal;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.doctor-container {
  display: flex;
  justify-content: flex-start; 
  width: 100%;
  margin-top: 70px; 
  padding: 20px; 
}

.doctor {
  width: 250px; 
  height: auto;
  object-fit: contain;
  margin-left: 70px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; 
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 50px; 
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-left: 40px;
  margin-right: 4px;
  padding-right: 20px;
  padding-top: 20px;
  color: #243440;
}

.input-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  margin-bottom: 10px;
}

.input-row div {
  flex: 1;
}

.input-row input,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgba(148, 181, 206, 0.7);
}

textarea {
  resize: vertical;
  height: 100px; 
}

.subject-container,
.message-container {
  width: 100%; 
  padding-bottom: 10px;
}

.subject-container input,
.message-container textarea {
  width: 100%; 
  border: 1px solid #ffffff;
  background-color: rgba(148, 181, 206, 0.7);
  border-radius: 5px;
}

h5 {
  margin-bottom: 5px;
  font-weight: bold;
}

.text-container h5 {
  flex: 1;
  text-align: left;
}

.appointment-btn {
  background-color: #244459;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.appointment-btn:hover {
  background-color: #3DA9FC;
  color: #ffffff;
}

.ap-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 50px;
  text-align: left;
  padding-top: 70px;
  padding-bottom: 50px;
  color: #244459;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.med-images {
  display: flex;
  justify-content: space-around;
  gap: 0.001rem;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.image-cont {
  position: relative;
  width: 30%; 
}

.image-cont img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.image-cont .overlay-button {
  position: absolute;
  top: -20px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #244459; 
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  border: none;
  border-radius: 5px;
  padding: 10px 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 2;
  width: 100%;
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.image-cont .overlay-button .line1 {
  font-size: 10px; 
  font-weight: bold;
  margin-bottom: 5px;
}

.image-cont .overlay-button .line2 {
  font-size: 10px; 
  font-weight: bold;
}

.image-cont .overlay-button .pi {
  margin-left: auto; /* Pushes icon to the right side */
  margin-top: 5px; /* Adjusts the vertical alignment */
}

.image-cont .overlay-button:hover {
  background-color: #244459; 
  transform: translateX(-50%) scale(1.05);
}

.arrow-icon {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #ec0bb4;
  transition: transform 0.3s ease;
  cursor: pointer;
  z-index: 2;
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: right;
}

.shake-hand-container {
  position: relative; 
  width: 100%;
  height: auto;
  margin-top: 10rem; 
  margin-bottom: 10rem;
}

.shake-hand {
  width: 100%;
  height: auto;
  display: block; 
}

.shake-hand-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(61, 169, 252, 0.4); 
  pointer-events: none; 
}

.shake-hand-header {
  position: absolute;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
  top: 45%;
  left: 25%;
  bottom: 1%;
}

.app-btn {
  position: absolute;
  background-color: #244459;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: right;
  z-index: 2;
  transform: translate(-50%, -50%);
  top: 80%;
  left: 16.5%;
}

.app-btn:hover {
  background-color: #3DA9FC;
}

.apple-icon {
  position: relative;
  top: 50%;
  bottom: 50%;
  left: 0.5%;
  margin-left: 0.2px;
  margin-top: 2px;
  padding-top: 1px;
  z-index: 2;
}

.layerPic {
  position: absolute;
  right: 300px;
  width: 180px;
  height: 360px;
  bottom: 20px;
  top: -50px;
  z-index: 2;
  border-radius: 20px;
}



.bookAppointment {
  position: absolute;
  right: 70px; /* Adjust as needed */
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 3;
  text-align: center;
}

.bookAppointment h2 {
  font-size: 1.5rem;
  color: #244459;
}

.bookAppointment h6 {
  font-size: 1rem;
  color: #96409c;
  margin-bottom: 10px;
}

.bookAppointment input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.book-btn {
  background-color: #244459;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.people-icon {
  position: relative;
  top: 50%;
  bottom: 50%;
  left: 5%;
  margin-left: 0.2px;
  margin-top: 2px;
  padding-top: 1px;
  z-index: 2;
  color: blueviolet;
}

.therapist {
  position: absolute;
  right: 183px; /* Adjust as needed */
  top: 10%;
  border-radius: 100px;
  height: 30px;
  width: 30px;
}

