*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100vw;
    min-width: 100vh;
    background: #ced8ff;
}

.container.dark {
    background: #222;
    
}


.typing-subtitle {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 4s steps(40, end);
    width: 0;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }